@import "./indexStyles";

@include phone {
  header.bottom-navigation {
    position: relative;
    box-shadow: none;

    div.MuiBottomNavigation-root {
      @include transp-background;
      height: 100%;

      a {
        color: $dark;
        @include transp-background;
      }
      a.MuiBottomNavigationAction-root {
        @include transp-background;
      }
      a.MuiBottomNavigationAction-root.Mui-selected {
        color: $nav-selected;
      }
    }
  }
}

@include phone-landscape {
  header.bottom-navigation {
    position: fixed;
    box-shadow: none;

    div.MuiBottomNavigation-root {
      @include transp-background;
      height: 100%;

      a {
        color: $dark;
        @include transp-background;
      }
      a.MuiButtonBase-root {
        margin: 0.5rem 2.5rem 0 2.5rem;
      }
      a.MuiBottomNavigationAction-root {
        @include transp-background;
        span.MuiBottomNavigationAction-wrapper {
          flex-direction: row;
          justify-content: center;
          svg.MuiSvgIcon-root {
            display: none;
          }
          span.MuiBottomNavigationAction-label {
            font-size: 1.5rem;
            font-family: "Belleza", sans-serif;
            transition: 600ms;
          }
          span.MuiBottomNavigationAction-label:hover {
            transform: scale(1.2);
          }
        }
      }
      a.MuiBottomNavigationAction-root.Mui-selected {
        text-decoration: underline;
      }
    }
  }
}

@include no-mobile {
  header.bottom-navigation {
    position: fixed;
    box-shadow: none;

    div.MuiBottomNavigation-root {
      @include transp-background;
      height: 100%;

      a {
        color: $dark;
        @include transp-background;
      }
      a.MuiButtonBase-root {
        margin: 2.5rem 2.5rem 0 2.5rem;
      }
      a.MuiBottomNavigationAction-root {
        @include transp-background;
        span.MuiBottomNavigationAction-wrapper {
          flex-direction: row;
          justify-content: center;
          svg.MuiSvgIcon-root {
            display: none;
          }
          span.MuiBottomNavigationAction-label {
            font-size: 1.5rem;
            font-family: "Belleza", sans-serif;
            transition: 600ms;
          }
          span.MuiBottomNavigationAction-label:hover {
            transform: scale(1.2);
          }
        }
      }
      a.MuiBottomNavigationAction-root.Mui-selected {
        text-decoration: underline;
      }
    }
  }
}
