@import "./indexStyles";

@include scrollbars;

.career {
  @include max-height-vh;
  justify-items: center;
  scroll-behavior: smooth;
  position: fixed;
  @include zero-margin;

  @include phone {
    position: static;
  }

  .container {
    @include max-width;
    @include max-height-vh;
    @include flex-col-nowrap;
    align-items: center;
    position: fixed;
    overflow: scroll;
    margin: 13vh auto;
    padding: 6% 0;

    h1,
    h2,
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }

    @include phone {
      position: relative;
      margin: auto;
      padding: 8% 0 0;
    }

    section {
      @include max-width;
      @include flex-col-nowrap;
      justify-content: center;
      align-items: center;
      padding: 2% 15%;
      font-size: 1.5rem;
      text-align: center;

      @include phone {
        font-size: 1.3rem;
        padding: 2%;
        font-weight: 100;
      }

      p,
      h3,
      h4 {
        margin: 0.5rem 0;

        a {
          color: black;
          opacity: 0.6;
          &:hover {
            color: navy;
            opacity: 1;
          }
        }
      }

      .positionWhite {
        margin: 0.5rem 0;
        h3:first-of-type {
          color: white;
        }
      }

      .positionBlue {
        margin: 0.5rem 0;
        h3:first-of-type {
          color: #394480;
        }
      }
    }

    section:first-of-type {
      span {
        padding: 3%;
      }
    }

    section:nth-child(odd) {
      background: $violet;
    }

    .white {
      padding: 3% 0 0;
      background: white !important;
      .white > svg {
        display: block;
      }
    }
    .empty {
      min-height: 80px;
      background: $violet !important;
    }
  }
}
