@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1300px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.edu {
  height: 100vh;
  justify-items: center;
  scroll-behavior: smooth;
  background-color: #dfd8c8;

  @include desktop {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  @include big-desktop {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  @include tablet-landscape {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  @include tablet {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    color: black;
    position: fixed;
    overflow: scroll;
    margin: 11vh auto;
    left: 0;
    right: 0;
    padding: 2% 10%;
    height: 100vh;
    background-color: #dfd8c8;

    h1,
    h2 {
      color: #040404;
      margin: 0.7rem;
      @include phone {
        font-size: 1.5rem;
      }
    }

    .uni {
      margin-bottom: 2rem;
      h2 {
        background: white;
        padding: 0.6rem;
        border-radius: 10px;
      }
      h2:nth-child(odd) {
        border-radius: 5px 30px 5px;
      }
      h2:nth-child(even) {
        border-radius: 5px 30px 5px;
      }
    }

    .courses {
      align-items: center;
      > h2:first-of-type {
        text-decoration: underline;
        margin-bottom: 1rem;
      }
    }

    @include phone {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 4% 1%;
    }

    .empty {
      min-height: 300px;
    }
  }
}
