@import "./indexStyles";

@include scrollbars;

.edu {
  @include max-height-vh;
  justify-items: center;
  scroll-behavior: smooth;
  background-color: $violet;
  position: fixed;
  @include zero-margin;

  @include phone {
    position: static;
  }

  .container {
    @include max-width;
    height: 100%;
    @include flex-col-nowrap;
    text-align: center;
    align-items: center;
    position: fixed;
    overflow: scroll;
    margin: 11vh auto;
    left: 0;
    right: 0;
    padding: 2% 10%;
    background-color: $violet;

    @include phone {
      @include max-width;
      margin: auto;
      padding: 4% 1%;
    }

    h1,
    h2 {
      color: $very-dark-gray;
      margin: 0.7rem;
      @include phone {
        font-size: 1.5rem;
      }
    }

    .uni {
      @include max-width;
      @include flex-row-nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 2rem;
      padding: 1%;

      @include phone {
        @include flex-col-nowrap;
      }

      @include tablet {
        @include flex-col-nowrap;
      }

      @include tablet-landscape {
        @include flex-col-nowrap;
      }

      h2 {
        width: calc(60% - 10px);
        background: white;
        padding: 2rem;
        overflow: hidden;
        border-radius: 10px;
        @include phone {
          height: calc(60% - 20px);
          @include max-width;
        }
        @include tablet {
          height: calc(60% - 20px);
          @include max-width;
        }
        @include tablet-landscape {
          height: calc(60% - 20px);
          @include max-width;
        }

        @include desktop {
          min-height: 100%;
        }
      }
    }

    .courses {
      align-items: center;
      > h2:first-of-type {
        margin-bottom: 2rem;
      }
    }

    .other {
      @include max-width;
    }

    .empty {
      min-height: 300px;
    }
  }
}
