@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1300px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}


.edu {
  height: 100vh;
  justify-items: center;
  scroll-behavior: smooth;
  background-color: white;

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: wheat;
    
  }

.container {
width: 80%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
text-align: center;
align-items: center;
color: black;
position: relative;
overflow: scroll;
margin: auto;
padding: 4%;
height: 100vh;
background-color: lightgrey;
// box-shadow: -15px 0 15px -15px inset rgba(0,0,0,0.3);
// box-shadow: 12px 0 15px -4px rgba(0,0,0,0.3), -12px 0 8px -4px rgba(0,0,0,0.3);


  
@include phone {
  width: 100%;}
  margin: auto;
}
}