@import "./indexStyles";

@include scrollbars;

.front {
  height: 100%;
  margin: 0;
  justify-items: center;
  overflow: hidden;

  .descimage {
    object-fit: cover;
    width: 100vw;
    @include max-height-vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    @include phone {
      display: none;
    }
  }

  .mobimage {
    object-fit: cover;
    width: 100vw;
    @include max-height-vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    @include no-mobile {
      display: none;
    }
  }

  video {
    display: none;
    // object-fit: cover;
    // width: 100vw;
    // @include max-height-vh;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: -100;
    // background-color: wheat;
  }

  .container {
    width: 80%;
    flex: 1;
    @include flex-row-wrap;
    color: white;
    position: fixed;
    margin: 10vh auto;
    left: 0;
    right: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 5%;
    height: 100vh;
    background: rgba(17, 9, 9, 0.7);

    @include phone {
      @include flex-col-nowrap;
      position: relative;
      @include max-width;
      margin: auto;
      background: rgba(0, 0, 0, 0.5);
    }

    @include phone-landscape {
      margin-top: 3em;
    }

    @include big-desktop {
      width: 60%;
    }

    @include tablet {
      width: 90%;
      @include flex-col-nowrap;
    }

    @include tablet-landscape {
      width: 90%;
    }

    .profile {
      @include flex-col-wrap;
      margin-right: 0;

      @include phone {
        min-width: 0;
        margin-right: 10%;
        box-sizing: unset;
      }

      .visual {
        width: auto;
        height: 285px;
        position: relative;
        background: url("../images/ph.jpeg") no-repeat;
        background-position: center;
        background-size: 200px auto;
        background-position-x: 0em;
        @include phone {
          background-size: 200px auto;
          background-position-x: 0em;
        }
      }

      .desc {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        @include phone {
          @include max-width;
          padding: 2rem 0;
        }

        h2 {
          list-style-type: none;
          margin: 0;
          font-weight: normal;
          font-size: 1.5rem;
          padding: 0.3rem 0;
          &:last-of-type {
            padding-bottom: 1.5rem;
            border-bottom: 2px solid white;
          }

          @include phone {
            @include max-width;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0.5rem 0;
          }
        }

        h3 {
          list-style-type: none;
          margin: 0;
          font-weight: normal;
          font-size: 1.5rem;
          padding: 0.3rem 0;
          &:first-of-type {
            padding-top: 1rem;
          }

          @include phone {
            @include max-width;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0.5rem 0;
          }

          img {
            padding-right: 1rem;
            height: 30px;
            width: auto;

            @include phone {
              padding-right: 0.5rem;
              height: 20px;
            }

            @include tablet {
              display: none;
            }
          }
        }
      }

      footer {
        @include flex-row-wrap;
        @include max-width;
        justify-content: flex-start;
        padding: 2rem 0;
        margin-top: 0.1rem;

        @include phone {
          padding: 1rem 0;
        }

        @include tablet {
          padding: 1rem 0;
        }

        a img {
          height: 60px;
          border-radius: 50%;
          padding-right: 1.5rem;
          transition: ease-in-out;
          &:hover {
            transform: scale(1.3);
          }

          @include phone {
            height: 50px;
          }

          @include tablet {
            height: 40px;
          }
        }
      }
    }

    .hash {
      flex: 2;
      @include flex-col-wrap;
      padding: 0 0 0 6%;
      text-align: justify;
      line-height: 1.7;
      font-size: 1.6rem;

      @include phone {
        padding: 0;
        text-align: left;
        line-height: 1.5;
        font-size: 1.5rem;
      }

      p {
        margin-top: 1rem;
        &:first-child {
          margin: 0;
        }
        a {
          color: white;
        }
      }
    }

    .empty {
      min-height: 1300px;
    }
  }
}
