@import "./indexStyles";

.loader {
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: relative;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #202428;

  p {
    font-size: 2rem;
    color: #202428;
  }

  @include phone {
    font-size: 40px;
  }
}
