nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  transform: translateX(0);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  @include phone {
    width: 100%;
  }
  a {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    @include phone {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      color: orange;
    }
  }
}
nav .closed {
  transform: translateX(-100%);
}
