div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  background: white;
  z-index: 1001;
}

div.active {
  visibility: visible;
  transition: all 20ms ease-in;
}
div.hidden {
  visibility: hidden;
  transition: all 20ms ease-out;
  transform: translate(0, -100%);
}
