@import "./indexStyles";

@include scrollbars;

.portfolio {
  @include max-height-vh;
  justify-items: center;
  scroll-behavior: smooth;

  .container {
    @include max-width;
    @include max-height-vh;
    @include flex-col-wrap;
    justify-content: flex-start;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 9vh auto;
    padding: 3% 15%;
    background-color: $egg-plant;

    @include phone {
      position: relative;
      margin: auto;
      padding: 3% 0;
    }

    .repos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0 10%;
      margin-right: 10%;

      @include phone {
        padding: 0;
      }

      .select {
        padding: 1rem;
        width: 35vw;

        @include phone {
          width: 80%;
          min-width: 300px;
          padding: 0 1%;
        }
      }

      h1 {
        color: white;
        padding: 1rem;
        @include phone {
          font-size: 1.6rem;
        }

        a {
          margin-left: 1rem;
          color: white;
          text-decoration: underline;
          transition: all 500ms;
          &:hover {
            text-decoration: none;
          }
          &:hover:after {
            content: "  >>>";
          }
        }
      }

      p {
        color: white;
        @include phone {
          font-size: 1rem;
        }
      }
      ul {
        padding: 0;
        color: white;
        li {
          margin: 5% 0;
          list-style: none;
          font-size: 2rem;
          padding: 1.5rem;
          transition: all 200ms;
          background-color: $egg-plant-pale;
          border-radius: 15px;
          @include phone {
            font-size: 1rem;
          }
          a {
            color: white;
            padding: 0;
            &:hover {
              text-decoration: none;
            }
            &:hover:after {
              content: "  >>>";
            }
          }

          p {
            font-size: 1.4rem;
            color: $wheat;
            margin: 0;
          }

          span {
            a {
              font-size: 1.8rem;
              color: #dfd8c8;
              text-decoration: none;
              @include phone {
                font-size: 1.2rem;
              }
              &:hover {
                color: navy;
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
