@media screen and (max-width: 768px) {
    header.bottom-navigation {
      position: relative;
      box-shadow: 0 -15px 15px -15px inset rgba(0,0,0,0.3);
   
      > div.MuiBottomNavigation-root {
        background-color:  transparent;
        height: 100%;
   
        >a{
            color: black;
            background-color: transparent;
          }
          >a.MuiBottomNavigationAction-root{
            background-color: transparent;
          }
          >a.MuiBottomNavigationAction-root.Mui-selected {
            color: lightslategray;
          }
      }
    }}


    @media screen and (min-width: 769px) {
      header.bottom-navigation {
        position: relative;
        box-shadow: 0 -15px 15px -15px inset rgba(0,0,0,0.3);
      

        // 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px
        > div.MuiBottomNavigation-root {
          background-color:  transparent;
          height: 100%;
     
          >a{
            color: black;
            background-color:  transparent;
            }
            >a.MuiButtonBase-root {
padding: 1.5rem;
            }
            >a.MuiBottomNavigationAction-root{
              background-color: transparent;
              >span.MuiBottomNavigationAction-wrapper{
flex-direction: row;
justify-content: center;
>svg.MuiSvgIcon-root{
  display: none;
}
>span.MuiBottomNavigationAction-label{
  font-size: 1.5rem;
  font-family: 'Belleza', sans-serif;
}
              }
            }
            >a.MuiBottomNavigationAction-root.Mui-selected {
              color: lightslategray;
            }
        }
      }}
       
     








// import { makeStyles } from '@material-ui/core/styles';
// import {
//   backgroundColorDark,
//   colorWhite
// } from '../styles/centralStyles';

// export const useStyles = makeStyles(theme => ({

//   // Styling for bottom navigatinon
//   root: {
//     backgroundColor: backgroundColorDark,
//     color: colorWhite
//   },
//   buttons: {
//     color: colorWhite
//   },
//   link: {
//     color: 'white',
//   }
// }));

