@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

// header.appbar {
//   position: relative;
//   width: 100%;
//   background-color: transparent;
//   margin: 0;
//   border: none;
//   // min-height: 10%;
//   // >div.MuiAppBar-colorPrimary{
//   //   background-color: transparent;
//   //   color: white;
//   // }
//   >.MuiBottomNavigationAction-root {
//     >div.MuiBottomNavigationAction-root.Mui-selected{
//       color: grey;
//      }
//   }
  
//   > div.MuiBottomNavigation-root {
//     background-color: transparent;
 
//   > a.MuiButtonBase-root {

//   color: white;

// }

//   }}



.navbar {
    width: 100%;
    padding: 10px;
    position: fixed;
    transition: top 0.6s;
  }
  
  .navbar--hidden {
    top: -50px;
  }


.nav-link {
    font-size: 2rem;
    padding: 2rem;
    text-decoration: underline;
    color: white;
    cursor: pointer;

&:hover {
text-decoration: none;
opacity: 0.5;
}


@include phone {
font-size: 1.2rem;
padding: 0.7rem;
}

}